# --- Core Dependencies ---
betfairlightweight
joblib
matplotlib
numpy
optuna
optuna-integration[xgboost]
pandas
pandera
python-json-logger
PyYAML
requests
schedule
scikit-learn
seaborn
streamlit
xgboost

# --- Development & Linting Tools ---
black==23.12.1
mypy
pytest
pytest-cov
ruff==0.12.4